.library {
  background-color: #181818;
  padding: 20px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}
.library-song {
  background-color: #282828;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}