.song-card {
  background-color: #282828;
  padding: 15px;
  border-radius: 10px;
  color: white;
  width: 250px;
}
.song-card h2 {
  color: #5900fd;
}
.song-card button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: #9700fc;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}